body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/images/bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
code {
  font-family: "Montserrat", sans-serif;
}
.App {
  margin-left: 10px;
  margin-right: 10px;
}
.navLogo{
  height: 40px;
  margin-right: 10px;
}
nav > div > ul > li > a:hover{
  animation-name: navHoverAnimBg;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
nav{
  background-image: url("/src/images/nav1.png");
}
#postsUl > li > a > div{
  background-color: #212529;
}

#post_box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#post_box > div {
  background-color: #212529;
  color: white;
}
@keyframes navHoverAnimBg{
  from{ background-color: #212529;}
  to{ background-color: #2b3035;}
}

@media only screen and (max-width: 991px) {
  nav > div{
    flex-direction: column;
    justify-content: center;
  }
  nav > div > ul:first-child > li:first-child{
    visibility: hidden;
    display: none;
  }
}